@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, h1, table, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


.habit-list {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.checkbox input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}
