<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Tarefa</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/adicionarTarefas.css"> <!-- Se necessário -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body class="bg-green-50">
<div class="container mx-auto mt-10 bg-white rounded-lg shadow-md p-6 max-w-md">
    <h1 class="text-center text-green-700 text-3xl font-bold mb-6">Adicionar Tarefa</h1>
    <form method="post" th:action="@{/tarefa/save}">
        <div class="mb-4">
            <label for="descricao" class="block text-green-700">Descrição:</label>
            <input type="text" id="descricao" name="descricao" class="mt-1 block w-full p-2 border border-gray-300 rounded" required>
        </div>
        <div class="mb-4">
            <label for="data_inicio" class="block text-green-700">Data de Início:</label>
            <input type="date" id="data_inicio" name="data_inicio" class="mt-1 block w-full p-2 border border-gray-300 rounded" required>
        </div>
        <div class="mb-4">
            <label for="data_limite" class="block text-green-700">Data Limite:</label>
            <input type="date" id="data_limite" name="data_limite" class="mt-1 block w-full p-2 border border-gray-300 rounded" required>
        </div>
        <div class="text-center">
            <button type="submit" class="bg-green-700 text-white font-bold py-2 px-4 rounded hover:bg-green-600 transition duration-300">Adicionar Tarefa</button>
            <button type="button" class="bg-green-700 text-white font-bold py-2 px-4 rounded hover:bg-green-600 transition duration-300 ml-4" onclick="window.location.href='/todasTarefas';">Voltar</button>
        </div>
    </form>
</div>
</body>
</html>
